body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


/*--------------- NAVIGATION MENU ------------------*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

nav {
    padding: 5px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    z-index: 1;
}

    nav .logo {
        display: flex;
        align-items: center;
    }

        nav .logo img {
            height: 25px;
            width: auto;
            margin-right: 10px;
        }

        nav .logo h1 {
            font-size: 1.1rem;
            background: linear-gradient(to right, #b927fc 0%, #2c64fc 100%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }

    nav ul {
        list-style: none;
        display: flex;
    }

        nav ul li {
            margin-left: 1.5rem;
        }

            nav ul li a {
                text-decoration: none !important;
                color: #000;
                font-size: 95%;
                font-weight: 400;
                padding: 4px 8px;
                border-radius: 5px;
            }

                nav ul li a:hover {
                    background-color: #f5f5f5;
                }

.hamburger {
    display: none;
    cursor: pointer;
}

    .hamburger .line {
        width: 25px;
        height: 1px;
        background-color: #1f1f1f;
        display: block;
        margin: 7px auto;
        transition: all 0.3s ease-in-out;
    }

.hamburger-active {
    transition: all 0.3s ease-in-out;
    transition-delay: 0.6s;
    transform: rotate(45deg);
}

    .hamburger-active .line:nth-child(2) {
        width: 0px;
    }

    .hamburger-active .line:nth-child(1),
    .hamburger-active .line:nth-child(3) {
        transition-delay: 0.3s;
    }

    .hamburger-active .line:nth-child(1) {
        transform: translateY(12px);
    }

    .hamburger-active .line:nth-child(3) {
        transform: translateY(-5px) rotate(90deg);
    }

.menubar {
    position: absolute;
    top: 0;
    left: -60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    height: 100vh;
    padding: 20% 0;
    background: rgba(255, 255, 255);
    transition: all 0.5s ease-in;
    z-index: 2;
}

.active {
    left: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.menubar ul {
    padding: 0;
    list-style: none;
}

    .menubar ul li {
        margin-bottom: 32px;
    }

        .menubar ul li a {
            text-decoration: none;
            color: #000;
            font-size: 95%;
            font-weight: 400;
            padding: 5px 10px;
            border-radius: 5px;
        }

            .menubar ul li a:hover {
                background-color: #f5f5f5;
            }

@media screen and (max-width: 790px) {
    .hamburger {
        display: block;
    }

    nav ul {
        display: none;
    }
}

/* -------------------------------ABOUT PAGE ---------------------------- */
.about_section_all {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    min-height: 100vh;
}

.about_section-title {
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.about_section-subtitle {
    letter-spacing: 0.4px;
    line-height: 28px;
    max-width: 550px;
}

.about_section-title-border {
    background-color: #000;
    height: 1 3px;
    width: 44px;
}

.about_section-title-border-white {
    background-color: #fff;
    height: 2px;
    width: 100px;
}

.about_text_custom {
    color: #637DBE;
}

.about_icon i {
    font-size: 22px;
    height: 65px;
    width: 65px;
    line-height: 65px;
    display: inline-block;
    background: #fff;
    border-radius: 35px;
    color: #81A3F8;
    box-shadow: 0 8px 20px -2px rgba(158, 152, 153, 0.5);
}

.about_header_main .about_heading {
    max-width: 450px;
    font-size: 24px;
}

.about_icon span {
    position: relative;
    top: -10px;
}

.about_content_box_all {
    padding: 28px;
}
